*{
    padding:0px;
    margin:0px;
  }
  
   
  @font-face {
    font-family: ShadowsIntoLightTwo;
    src: local(ShadowsIntoLightTwo-Regular),
      url(/path/to/ShadowsIntoLightTwo-Regular.woff2) format("woff2"),
      url(/path/to/ShadowsIntoLightTwo-Regular.woff) format("woff"),
      url(/path/to/ShadowsIntoLightTwo-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }

  @media (max-width: 767px) {
    /* Estilos específicos para la versión móvil */
  
  body {
    width: 375px;
    height: 7674px;
    padding: 45px 0 0;
    background-color: #fff;
    margin: 0;
    padding: 0;

  }

  .Rectangle-mobile{
    width: 334px;
    height: 48px;
    margin: 0 20px 41px 21px;
    border-radius: 30px;
    background-color: #e02020;
    background-image:url(/img/header.png) ;
  }
  
  .navbar-toggler-icon {
    background-image:url(/img/bars-staggered-solid.svg)
  }


  .PRODUCTS-m {
    
    height: 36px;
    margin: 0 91px 80px 93px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: 1px;
    text-align: center;
    color: #303030;
  }

  .Nutella-B-ready-m {
    
    height: 68px;
    margin: 29px 33px 19px 34px;
    font-family: 'Montserrat';
    font-size: 38px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.89;
    letter-spacing: normal;
    text-align: center;
    color: #e20019;
  }

  .Love-it-in-a-jar-Tr-m {
   
    height: 20px;
    margin: 19px 0 6px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #303030;
  }

  .Try-it-m {
    
    height: 24px;
    margin: 34px 20px 53px 62px;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    text-align: center;
    color: #aa957f;
  }

  .Fill-1-m {
    
    height: 85px;
    margin: 6px 20px 20px;
    
  }

  .Scroll-down-m {
   
    height: 24px;
    margin: 38px 15px 49px 20px;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    text-align: center;
    color: #aa957f;
  }
  
  .Rectangle-Copy-10-m {
   
    height: 1312px;
    margin: 349px 0 px;
    background-color: #f5efdd;
   
  }

  .Bitmap-m {
   
    height: 700px;
    margin: 20px 9px 0 15px;
    object-fit: contain;
    position: relative;
    top:-100px
  }

  .nocciola_06-m {
    
    height: 90px;
    margin: 0 99px 177px 0;
    object-fit: contain;
    position: relative;
    top: -200px;
    left: -20px;
  }

  .position-t-m{
    position: relative;
    top: 100px;
  }

  .Cant-wait-to-enjoy-m {
   
    height: 300px;
    margin: 0 0 8px;
    padding: 81px 29px 108px 129px;
    font-family: 'Montserrat';
    font-size: 55px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.91;
    letter-spacing: normal;
    color: #e20019;
  }

  .position-cant-m{
    position: relative;
    top: -180px;
    left: -10px;

  }

  .Introducing-Nutella-m {
   
    height: 223px;
    margin: 8px 89px 0 0;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #303030;
  }
  .Introducing-Nutella-m .text-style-1-m {
    font-weight: bold;
  }

  .carosello-m{
  z-index: 1;
  position: relative;
  top: -150px;
  left: -11px;
  width: 375px;
  height: 500px;
  
  }

  .carosello-img-m{
    width: 375px;
    height: 500px;
    object-fit: contain;
  }
  .carousel-indicators{
    position: relative;
    top: 450px;
   }

.nn-bitmap-m{
  width: 202px;
  margin: 177px 0 0;
  top: -500px;
  left: 160px;
  position: relative;
}
  .introducing-Nutella-position-m{
    position: relative;
    top: -158px;
    left: 20px;
  }

 .Rectangle-Copy-10-red-m{
  
  height: 888px;
  margin: 0 0 43px;
  padding: 27px 0 15px 29px;
  background-color: #e20019;
  position: relative;
  top: -180px;
 }

 .Crunchy-outside-Cre-m {
  
  height: 200px;
  margin: 0 95px 186px 0;
  font-family: 'Montserrat';
  font-size: 55px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.91;
  letter-spacing: normal;
  color: #fff;
}

.Bit-m {
  width: 42px;
  height: 135px;
 transform: rotate(9deg);
 position: relative;
 top: 204px;
 left: -250px;

}
.Ready-for-the-first-s-m {

  transform: rotate(25deg);
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  position: relative;
  top: -10px;
  left: 60px;
}

.A-delicious-crunchy-m {
  
 
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #fff;
  position: relative;
  top: 230px;
  left: -180px;
  
}
.Fill-2-m {
 
  height: 85px;
 color: white;
  position: relative;
  top: -330px;
  left: 180px;
  z-index: 1;
 
}

.nocciola_04-m {

  margin: 667px 40px 0 238px;
  position: relative;
  top: -1040px;
 
}

.Your-day-a-bit-unste-m {
  
  font-family: 'Montserrat';
  font-size: 55px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.91;
  letter-spacing: normal;
  text-align: center;
  color: #e20019;
  position: relative;
  top: -1050px;
}

.Only-B-ready-combine-m {

  margin: 265px 60px 0;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #303030;
  position: relative;
  top: -1030px;
}
.Only-B-ready-combine-m .text-style-1-m {
  font-weight: bold;
}

.Nutella_B-Ready-m {
  
  margin: 448px 10px 915px 0;
  object-fit: contain;
  position: relative;
  top:-520px ;
  left: -12px;
}

.Rectangle-Copy-10-bw-m{
  height: 1000px;
  background-color: #f5efdd;
  position: relative;
  top:-930px ;
  
}

.Always-carry-it-with-m {
  
  transform: rotate(-7deg);
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: normal;
  text-align: center;
  color: #5f3b22;
  position: relative;
  top: -1430px;
  left: 50px;

}

.Different-pack-sizes-m {
 
  margin: 0 1px 15px 0;
  font-family: 'Montserrat';
  font-size: 55px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.91;
  letter-spacing: normal;
  color: #5f3b22;
  position: relative;
  top: -1400px;
}

.Nutella-B-ready-is-m {
 
  height: 80px;
  margin: 15px 0 0 1px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #303030;
  position: relative;
  top: -1400px;
}
.Nutella-B-ready-is-m .text-style-1-m {
  font-weight: bold;
}

.container-slide-m{
  
  display: flex;
  justify-content: center;
  position:relative;
  left:-70px;
  top: -1450px;

  }
  

  .Nutella_B-Ready_Pack_6 {
   
    margin: 15px 0 0;
    padding: 141px 286px 138px 20px;
  }

  .carousel-control-next-icon {
    background-image: url("./img/arrow.png");
    width: 17px;
    height: 29px;
    margin: 185px 0 195px 32px;
    object-fit: contain;
  }
  .carousel-control-prev-icon {
    background-image: url("./img/arrow1.png");
    width: 17px;
    height: 29px;
    object-fit: contain;
    
  }
  .carousel-control-prev{
    position:absolute;
    left:110px
    
  }
  
  .carousel-control-next{
    position:absolute;
   top: 12px;
   
  }
  

  .Nutella-B-Ready-mul-m {
   
    margin: 16px 43px 16.9px 81px;
    object-fit: contain;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #5f3b22;
  }
  
  .btn-shop-m{
    background-color:#e20714;
    color:white !important;
    font-family: 'Montserrat', sans-serif;
    width: 160px;
  position: relative;
  left: 260px;
  }

  .zoom-m {
    transition: transform .2s; 
}
 
 .zoom-m:hover {
    background-color: #e02020;
    transform:scale(1); 
}
  
  .Rectangle-brown-m{
  width: 375px;
  height: 280px;
  padding: 30px 20px 95px 19px;
  background-color: #5f3b22;
  position: relative;
  top:-1432px;
  }

  .Ingredients-m {
   
    margin: 0 0 17px;
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }

  .Sugar-Palm-oil-Haz-m {
    width: 320px;
    height: 104px;
    margin: 17px 7px 0 9px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
  .Sugar-Palm-oil-Haz-m .text-style-1 {
    color: #e20019;
  }
  
  

  .B-ready-m {
    position: relative;
    top: -20px;
    object-fit: contain;
    z-index: 1;
  }

  .Nutritional-informat-m {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #5f3b22;
  }
  
  .Rectangle-Copy-5-m {
    position: relative;
    top: -100px;
    left: -10px;
    padding: 53px 15px 26px;
    background-color: #f5efdd;
    height: 633px;
  }
  .Typical-values-per-1-m {
  
    margin: 0 40px 10px 0;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.88;
    letter-spacing: normal;
    color: #5f3b22;
  }

  
  .Energy-kJ-Energy-m{
  
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    color: #303030;
    background-color:#f5efdd;
    
  }
  
  .table-m{
    --bs-table-bg:#f5efdd;
    
  }

  .con-ingredi-m{
    position: relative;
    top: -1340px;
    
  }

  .Energy-position{
    position: relative;
    top: -1000px;
    width: 372px;
  }

  .ingredient-table-position-m{
    position: relative;
    top: -600px;
   left: 1px;
  }

  .Rectangle-table-m {
   
    height: 340px;
     padding: 23px 22px 13px 20px;
    border-radius: 20px;
    
  }

  .Rectangle-table-1-m{
    width: 360px;
    height: 340px;
    padding: 23px 22px 13px 20px;
    border-radius: 20px;
    border: solid 1px #5f3b22;
    font-family: 'Montserrat';
  }
  .Typical-values-per-2-m {
    
    height: 14px;
    margin: 0 81px 10px 9px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.88;
    letter-spacing: normal;
    color: #5f3b22;
  }
  
  .numbers-m{
    width: 40px;
    height: 280px;
    margin: 15px 10px 0 98px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.6;
    letter-spacing: normal;
    text-align: right;
    color: #303030;
    position: relative;
    
    top: -333px;
  }

  .Line-9-Copy-10-m {
    width: 330px;
    height: 1px;
    opacity: 0.3;
    border: solid 1px #303030;
    position: relative;
    left: -7px;
  }
  
  .Energy-kJ-Energy-m {
    
    height: 280px;
    margin: 10px 121px 0 9px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    color: #303030;
  }
  .Energy-kJ-Energy-m .text-style-1 {
    font-size: 12px;
    font-weight: normal;
  }
  
  

.Reference-intake-of-m {
  
  height: 20px;
  margin: 10px 0 0;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #5f3b22;
}

.ingedients-carosello-m {
  height: 300px;
  margin: 913px 0 17px;
  object-fit: contain;
  background-color: #e20019;
  position: relative;
  top: -1985px;
}
::placeholder {
  color:white !important;
}



.INSIDE-NUTELLA-m{
    
  height: 36px;
  margin: 0 91px 80px 93px;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: 1px;
  text-align: center;
  color:  #5f3b22;
  position: relative;
  top: 35px;

}


.dicover-ingredients-m {
 
  margin: 0 1px 15px 0;
  font-family: 'Montserrat';
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  line-height: 0.91;
  color: #ffffff;
  position: relative;
  top: 35px;
}


/*SWIPER*/
swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper-container-m{
  position: relative;
  top: -2150px;
}


.mySwiper{
  --swiper-theme-color: #5f3b22!important;
}



.The-Nutella-sugar-m {

  margin: 22px 0 ;
  font-family: 'Montserrat';
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  color: #000;
}
.Line-3-m {
  width: 1px;
  height: 110px;
  margin: 16px 14px 41px 15px;
  opacity: 0.32;
  border: solid 1px #8c8c8c;
  position: relative;
  left: 160px;
  top: -130px;
}


.btn-View-ingredients-m {
  width: 260px;
  height: 51px;
  margin: 30px 68px 0;
  object-fit: contain;
  background-color: #e02020;
  color: white;
  position: relative;
  top: -2300px;
 
}



.One-love-many-optio-m {
 
  margin: 5px 41px 26px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #e20019;
  position: relative;
  top: -60px;
}

.text-swiper-card-m{
  
  position: relative;
  top: -2280px;
}

.box-swiper-m{
  position: relative;
  top: -2850px;
  left:-20px ;
  width: 1144px;
  height: 424px;
  margin: 26px 0 66px 41px;
  object-fit: contain;
  z-index: 1;
}
.swiper-slide-active{
  --swiper-theme-color:white !important;
}
.swiper-horizontal{
  --swiper-theme-color:white !important;
}
:host {
  --swiper-theme-color: #ffffff;
}

.Rectangle-Copy-144-m {
  width: 375px;
  height: 200px;
  margin: 216px 0 0;
  background-color: #e20019;
  position: relative;
  top: -2480px;
  
}

.slide_section_PRODUCTS-m {
position: relative;
top: -2980px;
left: -260px;
}
.Card_PRODUCTS-m {
  width:400px;
  margin: 26px 0 66px 41px;
  object-fit: contain;
}

.Group-10-Copy-111-m {
  height: 52px;
  object-fit: contain;
  position: relative;
  top: -2980px;
}
.footer-mobile {
  width: 375px;
  height: 750px;
  
 position: relative;
 top: -2980px;
 left: -30px;
}
}